
.remove-border{
  -fx-border-width: 0;
}

.un-hide{
  -fx-text-fill: rgba(200, 0, 0 , 0.5) !important;
}

.error-input {
  -fx-text-fill:  #450d0d !important;
  -fx-background-color: #ffffff10 !important;
}

.btn:hover {
  -fx-background-color: radial-gradient(center 50% 50%, radius 50%, #fff, #aaa) !important;
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-padding: 0;
}